@use "../../presets/" as *;
@use "../../mixins/" as *;

.posts {    
    &__container {
        @extend %container;
    }

    &__title {
        @include lg-min {
            margin-bottom: 48px;
        }

        @include lg-md {
            margin-bottom: 42px;
        }

        @include md-sm {
            margin-bottom: 36px;
        }

        @include sm {
            text-align: center;
            margin-bottom: 36px;
        }
    }
    
    &__content {
        display: grid;
        gap: $gap;
        
        @include lg-min {
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: "b1 b1 b2 b3" "b4 b5 b6 b6";
        }
        
        @include lg-md {
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: "b1 b1 b2" "b3 b4 b4" "b5 b5 b6";
        }

        @include md-sm {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: "b1 b2" "b3 b4" "b5 b6";
        }

        @include sm {
            grid-template-areas: "b1" "b2" "b3" "b4" "b5" "b6";
        }
    }

    &__actions {
        display: flex;
        justify-content: center;
        margin-top: $gap;
    }

    @include lg-min {
        padding-top: $gap-x5;
        padding-bottom: $gap-x5;
    }

    @include lg-md {
        padding-top: $gap-x4;
        padding-bottom: $gap-x4;
    }

    @include md {
        padding-top: $gap-x3;
        padding-bottom: $gap-x3;
    }
}

.post-item {
    display: grid;
    position: relative;
    grid-template-rows: 300px 1fr;
    background-color: lighten($color-gray-light, 5%);
    text-align: center;
    transition: background-color 0.5s;
    
    &__image {
        width: 100%;
        min-height: 300px;
        background-position: 50% 50%;
        background-size: cover;
    }

    &__link {
        @include abs-position;      
    }

    &__group {
        display: grid;
        align-content: center;
        padding: 20px;
    }

    &__title {
        transition: color 0.5s;
    }

    &__description {
        transition: color 0.5s;
    }

    &:hover {
        background-color: darken($color-gray-light, 5%);
        
        .post-item__title {
            color: $color-primary;
        }

        .post-item__description {
            color: $color-primary;
        }
    }
}


.post-item:nth-of-type(1) {
    grid-area: b1;
}

.post-item:nth-of-type(2) {
    grid-area: b2;
}

.post-item:nth-of-type(3) {
    grid-area: b3;
}

.post-item:nth-of-type(4) {
    grid-area: b4;
}

.post-item:nth-of-type(5) {
    grid-area: b5;
}

.post-item:nth-of-type(6) {
    grid-area: b6;
}